.game {
  min-height: 100vh;
  padding: 20px;
  color: #000;
  background: url("https://i.pinimg.com/originals/4f/6d/05/4f6d052bb1b26150115888ea06d4c106.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  .control-panel {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    // opacity: 0.7;
    border-radius: 5px;
    padding: 10px;
  }

  .control-panel > div {
    // background-color: #FFF;
    opacity: 1;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
