.waiting-room {
  position: relative;

  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  min-height: 100vh;

  background: pink;
  background: url("https://i.pinimg.com/originals/4f/6d/05/4f6d052bb1b26150115888ea06d4c106.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .table {
    border-radius: 5px;
    overflow: hidden;
  }

  .table td,
  .table th {
    padding: 0.75rem;
    border-bottom: 2px solid #dee2e6;
  }

  .table th {
    background: #dee2e6;
    opacity: 0.7;
    color: black;
  }

  tbody tr:hover {
    background-color: #dee2e6;
    cursor: pointer;
    opacity: 0.8;
  }

  .table td {
    background: #dee2e6;
    opacity: 0.9;
    color: black;
    text-align: center;
  }

  h1 {
    color: #dee2e6;
  }

  .waiting-modal {
    text-align: center;
    .avatar-wrapper {
      background-color:#dee2e6;
      border-radius: 40%;
      height: 80px;
      margin: auto;
      margin-bottom: 15px;
      width: 80px;
    }
    .name {
      margin-bottom: 0;
    }
  }
}

.modal-background {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.col-centered {
  float: none;
  margin: auto;
}