.col-centered {
    float: none;
    margin: auto;
}

.panel {
    @import url("https://fonts.googleapis.com/css?family=Fredoka+One");
    font-size: 1em;
    font-family: "Fredoka One", cursive;
    color: white;
    .start-btn {
      text-align: center;
      display: inline-block;
      margin: 5px;
      font-weight: bold;
      padding: 10px 10px 10px 10px;
      background-color: lightgray;
      text-shadow: -1px -1px black, 1px 1px white;
      color: #ff9933;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -o-border-radius: 7px;
      border-radius: 7px;
      box-shadow: 0 0.2em gray;
      cursor: pointer;
    }
  
    .start-btn:active {
      box-shadow: none;
      position: relative;
      top: 0.2em;
    }
}

