.home {
	font-family: 'Comic sans', roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 2em;
	}

	button {
		margin: 10px;
		padding: 20px;
		font-size: 1.25em;
	}

	input[type='range'] {
		min-height: 100px;
	}
}
