.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.waiting-modal {
    @import url("https://fonts.googleapis.com/css?family=Fredoka+One");
    font-size: 1em;
    font-family: "Fredoka One", cursive;
    text-align: center;

    .avatar-wrapper {
        background-color: #dee2e6;
        border-radius: 40%;
        height: 80px;
        margin: auto;
        margin-bottom: 15px;
        width: 80px;
    }

    .name {
        margin-bottom: 0;
    }
}